
#info > div{
    border: 1px solid lightgray;
    margin: 15px;
    xbox-shadow: 5px 5px 20px 0px rgba(0,0,0,0.10);
}
#info div div{
    border: none;
}
#info div div:nth-child(odd){
    background-color: #eeeeee;
}
#info div div:nth-child(even){
    background-color: white;
}

.important{
    font-weight: bold;
}

.label{
    color: grey;
    font-style: italic;
}

.listItem{
    background-color: #eeeeee;
    margin: 5px;
    cursor: pointer;
}

.selected{
    font-weight: bold;
}